<!DOCTYPE html>
<html>
  <head>

    <title>Covid Tracker App</title>
  </head>
  <body>

    <h1><%=country%></h1>
    <p>last update: <%=lastUpdate%></p>
    <p>cases: <%=cases%></p>
    <p>deaths: <%=deaths%></p>
    <p>recovered: <%=recovered%></p>
  
  </body>
</html>